{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "quoteProps": "consistent",
  "plugins": ["prettier-plugin-tailwindcss"]
}
